<div class="mainContentHeadingContainer eight columns abouty all">
  <h5 class="mainHeading">About</h5>
</div>
<div class="mainContentItemsContainer about eight columns abouty all">
  <div class="mainContentItemHeadingContainer">
    <p class="itemText">
<!--       There is very little we can be absolutely sure of in 2019 - but Husbandry’s continued reign as one of supreme masters of truly innovative, rule-breaking, genre-defying heavy music is one of them. Think of the New York City quartet’s 2nd full length, A Port In A Storm, as a refuge from the miasma of copycat metal bands and retro lifestylers who think dressing like their heroes and social media prowess are worthy substitutes for songcraft.
      <br>
      <br> -->
      Husbandry's debut LP Fera was a critically acclaimed but often overlooked masterpiece, filled with songs that moved seamlessly from jagged riffs to soaring hooks. The band's most recent EP, Bad Weeds Never Die, reaffirmed and refined the Fera sound. With Bad Weeds Never Die, Husbandry firmly established themselves as high-order aesthetic risk takers as well as a band that's only getting better at penning songs you couldn't shake if you tried.
<!--       <br>
      <br>
      And now A Port In A Storm is the most insane, most “Husbandry” release of their career. It’s the best of both worlds - every minute of this record is an absolute blast, yet none of it seems unexamined or thrown together. Shifting tectonic plates of caustic noisy space rock give way to unstoppably catchy heavy metal grooves, which eventually lead the listener to more cacophonous, dizzying math rock push and pull. This all happens while Carina Zachary - who possesses one of the most relentlessly urgent voices in all of the American heavy underground - is piling haunting neo-soul vocal hook after vocal hook upon this post hardcore earthquake created by Jordan Usatch (guitar), Arnau Bosc (bass/vocals) and Andrew Gottlieb (drums). -->
    </p>
    <img class="itemPhotoAbout" src="assets/Husbandry_Group_b.jpg" />
    <p class="itemText">
      Carina Zachary - vocals
    </p>
    <p class="itemText">
      Jordan Usatch - guitars
    </p>
    <p class="itemText">
      Arnau Bosc - bass, vocals
    </p>
    <p class="itemText">
      Andrew Gottlieb - drums
    </p>
  </div>
</div>
<div class="mainContentHeadingContainer eight columns abouty all">
  <h5 class="mainHeading">Press</h5>
</div>
<div class="mainContentItemsContainer about eight columns abouty all">
  <div class="mainContentItemHeadingContainer pressItem">
    <p class="postAttrDate">
      12.1.17
    </p>
    <h6 class="pressHeadline">Echoes and Dust Review of Bad Weeds Never Die</h6>
    <p class="itemText">
      "The thing I like most about the band and especially about Bad Weeds Never Die, is the music is exciting, energetic, and fun, but retains metal heaviness. You kind of get it all, here, a one stop shop"
    </p>
    <span><p class="itemText inline highlight"><a href="https://www.echoesanddust.com/2017/12/husbandry-bad-weeds-never-die/" target="_blank">Read</a></p></span>
  </div>
  <div class="mainContentItemHeadingContainer pressItem">
    <p class="postAttrDate">
      11.17.17
    </p>
    <h6 class="pressHeadline">Metal Injection Video Premier of "Elder Spencer Deery"</h6>
    <p class="itemText">
      "Husbandry releases new explosive track 'Elder Spencer Deery'"
    </p>
    <span><p class="itemText inline highlight"><a href="http://www.metalinjection.net/video/husbandry-releases-new-explosive-track-elder-spencer-deery" target="_blank">Read</a></p></span>
  </div>
  <div class="mainContentItemHeadingContainer pressItem">
    <p class="postAttrDate">
      09.05.17
    </p>
    <h6 class="pressHeadline">Afropunk Video Premier of "Grab Twist Pull"</h6>
    <p class="itemText">
      "Post-hardcore rockers Husbandry call out violence against women in 'Grab Twist Pull'"
    </p>
    <span><p class="itemText inline highlight"><a href="http://afropunk.com/2017/09/video-premiere-post-hardcore-rockers-husbandry-call-violence-women-confrontational-grab-twist-pull/" target="_blank">Read</a></p></span>
  </div>
  <div class="mainContentItemHeadingContainer pressItem">
    <p class="postAttrDate">
      09.24.16
    </p>
    <h6 class="pressHeadline">Nerdist Coverage of Fera</h6>
    <p class="itemText">
      “...the sort of stuff that should be filling stadiums. It’s catchy and intense, like a version Mars Volta or Dillinger Escape Plan you could listen to with your mom and dad."
    </p>
    <span><p class="itemText inline highlight"><a href="https://archive.nerdist.com/scream-at-a-wall-neurosis-and-amon-amarth-will-make-you-raise-some-horns/" target="_blank">Read</a></p></span>
  </div>
  <div class="mainContentItemHeadingContainer pressItem">
    <p class="postAttrDate">
      08.12.16
    </p>
    <h6 class="pressHeadline">MetalSucks Covers Crone Video</h6>
    <p class="itemText">
      “The track is bouncy — got my head bobbing up and down — and there are plenty of riffs here that dug their claws right into me..."
    </p>
    <span><p class="itemText inline highlight"><a href="http://www.metalsucks.net/2016/08/12/post-hardcore-band-husbandry-debuts-new-track-long-capricornian-crone/" target="_blank">Read</a></p></span>
  </div>
  <div class="mainContentItemHeadingContainer pressItem">
    <p class="postAttrDate">
      08.11.16
    </p>
    <h6 class="pressHeadline">Afropunk Video Premier of "So Long, Capriconian Crone"</h6>
    <p class="itemText">
      “Fronted by Carina Zachary, this four-piece band of rockers is the antidote to boredom, the counter to stagnation, and a thorough glimpse at the trajectory of modern rock."
    </p>
    <span><p class="itemText inline highlight"><a href="https://afropunk.com/2016/08/video-premiere-brooklyns-post-hardcore-band-husbandry-embraces-uncertainty-in-video-for-latest-track-so-long-capricornian-crone/" target="_blank">Read</a></p></span>
  </div>
</div>
