<div class="mainContentHeadingContainer eight columns abouty all">
  <h5 class="mainHeading">About</h5>
</div>
<div class="mainContentItemsContainer about eight columns abouty all">
  <div class="mainContentItemHeadingContainer">
    <p class="itemText">
      Fera (genitive ferae); (fem.) wild animal, beast
      <br>
      <br> Husbandry's debut full length is a wild, aggressive and sensual trip across nine masterfully crafted and equally unrelenting tracks. The riotous result of years of inspiration and experimentation compressed by the heat of a sweltering mid-July recording session, the band gunned through the album's explosive tracks like beasts through a jungle. In under a week's time — without doctoring or pitch correction to be found — the band emerged with FERA in tact. There's an undeniable immediacy to the fierce and frenetic energy of the record that is in debted at least partially to its scorching, raw, and feral origins.
    </p>
    <img class="itemPhotoAbout" src="images/Husbandry_Group_b.jpg" />
    <p class="itemText">
      Carina Zachary - vocals, Bronx street cred
    </p>
    <p class="itemText">
      Jordan Usatch - guitars, Seinfeld references
    </p>
    <p class="itemText">
      Arnau Bosc - bass, vocals, hilarious mispronunciations
    </p>
    <p class="itemText">
      Andrew Gottlieb - drums, food recommendations
    </p>
  </div>
</div>
<div class="mainContentHeadingContainer eight columns abouty all">
  <h5 class="mainHeading">Press</h5>
</div>
<div class="mainContentItemsContainer about eight columns abouty all">
  <div class="mainContentItemHeadingContainer pressItem">
    <p class="postAttrDate">
      09.05.17
    </p>
    <h6 class="pressHeadline">Afropunk Video Premier of "Grab Twist Pull"</h6>
    <p class="itemText">
      "Post-hardcore rockers Husbandry call out violence against women in 'Grab Twist Pull'"
    </p>
    <span><p class="itemText inline highlight"><a href="http://afropunk.com/2017/09/video-premiere-post-hardcore-rockers-husbandry-call-violence-women-confrontational-grab-twist-pull/" target="_blank">Read</a></p></span>
  </div>
  <div class="mainContentItemHeadingContainer pressItem">
    <p class="postAttrDate">
      09.24.16
    </p>
    <h6 class="pressHeadline">Nerdist Coverage of Fera</h6>
    <p class="itemText">
      “...the sort of stuff that should be filling stadiums. It’s catchy and intense, like a version Mars Volta or Dillinger Escape Plan you could listen to with your mom and dad."
    </p>
    <span><p class="itemText inline highlight"><a href="http://www.http://nerdist.com/scream-at-a-wall-neurosis-and-amon-amarth-will-make-you-raise-some-horns/" target="_blank">Read</a></p></span>
  </div>
  <div class="mainContentItemHeadingContainer pressItem">
    <p class="postAttrDate">
      08.12.16
    </p>
    <h6 class="pressHeadline">MetalSucks Covers Crone Video</h6>
    <p class="itemText">
      “The track is bouncy — got my head bobbing up and down — and there are plenty of riffs here that dug their claws right into me..."
    </p>
    <span><p class="itemText inline highlight"><a href="http://www.metalsucks.net/2016/08/12/post-hardcore-band-husbandry-debuts-new-track-long-capricornian-crone/" target="_blank">Read</a></p></span>
  </div>
  <div class="mainContentItemHeadingContainer pressItem">
    <p class="postAttrDate">
      08.11.16
    </p>
    <h6 class="pressHeadline">Afropunk Video Premier of "So Long, Capriconian Crone"</h6>
    <p class="itemText">
      “Fronted by Carina Zachary, this four-piece band of rockers is the antidote to boredom, the counter to stagnation, and a thorough glimpse at the trajectory of modern rock."
    </p>
    <span><p class="itemText inline highlight"><a href="http://www.afropunk.com/profiles/blogs/video-premiere-brooklyn-s-post-hardcore-band-husbandry-embraces" target="_blank">Read</a></p></span>
  </div>
  <div class="mainContentItemHeadingContainer pressItem">
    <p class="postAttrDate">
      12.09.14
    </p>
    <h6 class="pressHeadline">Half Cloth Best EPs 2014</h6>
    <p class="itemText">
      “Sharp and tense, moody and oblique, Husbandry’s four song Make Room For Waves offers twenty minutes of dense punk that never stops churning. On EP-highlight “Sentient”, which pivots from thick Jawbox-esque sprawl to sidewinding riffs reminiscent of Hot Snakes, singer Carina Zachary demands “Who’s accountable?” – a devastatingly apt question for a year defined by nightmarish unaccountability. Husbandry recall a golden era...
    </p>
    <span><p class="itemText inline highlight"><a href="http://www.halfcloth.com/feature-best-eps-2014/" target="_blank">Read</a></p></span>
  </div>
  <div class="mainContentItemHeadingContainer pressItem">
    <p class="postAttrDate">
      06.01.14
    </p>
    <h6 class="pressHeadline">Repartiseraren on “Biralata”</h6>
    <p class="itemText">
      “In Brooklyn you find a band that has its roots down under, but above the ground they reside with post-punk overtones. With their interesting combination of metal, experimental rock, post-hardcore and post-punk they make way for who they’ve become. Since they haven’t been around for that long, let alone put out anything besides their newly released “Make Room For Waves” EP, it’s great to hear something fresh once in a while.
    </p>
    <span><p class="itemText inline highlight"><a href="https://invisibleguy.wordpress.com/2014/06/01/exclusive-premiere-husbandry-biralata/" target="_blank">Read</a></p></span>
  </div>
</div>
