<div class="contacty all mainContentHeadingContainer bookerMain eight columns">
  <h5 class="mainHeading">General Inquiries</h5>
</div>
<div class="contacty all emailContainer eight columns">
  <p class="bookingEmailText inline">
    <a target="_blank" href="mailto:husbandryny@gmail.com">husbandryny@gmail.com</a>
  </p>
</div>
<div class="contacty all mainContentHeadingContainer bookerMain eight columns">
  <h5 class="mainHeading">Booking</h5>
</div>
<div class="contacty all emailContainer eight columns">
  <p class="bookingEmailText inline">
    Andy Rice - <a target="_blank" href="mailto:andy@circletalentagency.com">andy@circletalentagency.com</a>
  </p>
</div>
<div class="contacty all mainContentHeadingContainer bookerMain eight columns">
  <h5 class="mainHeading">Mailing List  </h5>
</div>
<div class="contacty all mailingListForm noMarginL eight columns">
  <form action="//nyc.us11.list-manage.com/subscribe/post?u=5653f314f402ed37807b9fcec&amp;id=7862bbdad5" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate emailCapture" target="_blank" novalidate>
    <p id="formNameField">Name</p>
    <input id="nameForm" name="FNAME" type="text" />
    <p id="formEmailField">Email</p>
    <input type="email" value="" name="EMAIL" class="email" id="emailForm" placeholder="" required/>
    <!-- <input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button"></div> -->
  </form>
  <div class="joinButton">
    <h6 id="joinButton">Join!</h6>
  </div>
</div>
