<div class="mainContentHeadingContainer newsy eight columns all">
  <h5 class="mainHeading">News</h5>
</div>

<div class="mainContentItemsContainer newsy eight columns all">
  <div class="mainContentItemHeadingContainer">
    <p class="postAttrDate">
      10.12.17
    </p>
    <h6 class="itemTitle">Bad Weeds Never Die - 12.1.17</h6>
    <p class="itemText">
      Our new EP "Bad Weeds Never Die" will be out December 1st on Aqualamb Records. <a href="https://husbandryny.bandcamp.com/album/bad-weeds-never-die">PREORDER</a> the 100 page Book with CD / Digital Download now!
      <iframe src="https://www.facebook.com/plugins/video.php?href=https%3A%2F%2Fwww.facebook.com%2Fhusbandrynyc%2Fvideos%2F1840009749346933%2F&show_text=0&width=560" width="560" height="315" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true" allowFullScreen="true"></iframe>
  </div>
</div>
<div class="mainContentItemsContainer newsy eight columns all">
  <div class="mainContentItemHeadingContainer">
    <p class="postAttrDate">
      9.14.17
    </p>
    <h6 class="itemTitle">First Full US Tour Announced with Moon Tooth</h6>
    <p class="itemText">
      <img class="itemPhoto" src="assets/tour_poster.jpg" />
      <br>
      <br> We are super excited to announce our first US national tour this November supporting our friends in the ever-excellent band <a href="https://moontoothny.bandcamp.com/">Moon Tooth</a>. We’ve always felt a strong kinship with the Tooth guys ever since we first played with them a few years ago, with their one of a kind spin on progressive and alternative metal music. This is a tour you won’t want to miss, and we hope to see you when we hit your city. We will also have advance copies of our new EP for sale at these shows before they hit the shelves at the end of November, so grab your copy ahead of time! More info on that coming soon. Here are the dates:
      <br/> 11/1 - Philadelphia, PA @ Voltage Lounge
      <br/> 11/2 - Cleveland, OH @ The Foundry
      <br/> 11/3 - Chicago, IL @ Reggie's
      <br/> 11/4 - Kansas City, MO @ Riot Room
      <br/> 11/5 - Denver, CO @ Moon Room
      <br/> 11/7 - Los Angeles, CA @ Viper Room
      <br/> 11/8 - Mesa, AZ @ Nile Underground
      <br/> 11/10 - Austin, TX @ Come And Take It Live
      <br/> 11/11 - San Antonio, TX @ Alamo Music Hall
      <br/> 11/13 - Nashville, TN @ The End
      <br/> 11/14 - Atlanta, GA @ Masquerade
      <br/> 11/15 - Chapel Hill, NC @ Local 506
      <br/> 11/16 - Amityville, NY @ Amityville Music Hall
      <br/>
  </div>
</div>
<div class="mainContentItemsContainer newsy eight columns all">
  <div class="mainContentItemHeadingContainer">
    <p class="postAttrDate">
      1.23.17
    </p>
    <h6 class="itemTitle">Banger Alert</h6>
    <p class="itemText">
      <img class="itemPhoto" src="assets/HUSHFlyer.jpg" />
      <br>
      <br> Someone might have to call the Guiness Book of World Records, because this could be the heaviest lineup for a show that's ever happened in Brooklyn. Don't be a doofus, get your tickets ahead of time for this one...though I suppose if you didn't get in, you could hear it from down the block.
  </div>
</div>
<div class="mainContentItemsContainer newsy eight columns all">
  <div class="mainContentItemHeadingContainer">
    <p class="postAttrDate">
      11.22.16
    </p>
    <h6 class="itemTitle">Giraffe Tongue Orchestra at Gramercy Theater</h6>
    <p class="itemText">
      Just when you thought the world was on its last leg and nothing good would happen for the rest of 2016...we got something to turn your frown right side up again: we have the pleasure of opening for Giraffe Tongue Orchestra - a band made up of some of our musical heroes - at Gramercy Theater in NYC on 12.1. Not to mention, our friends in Netherlands playing right after us as well. This is going to be a crazy memorable show. Be sure to pick up tickets if you can!
  </div>
</div>
<div class="mainContentItemsContainer newsy eight columns all">
  <div class="mainContentItemHeadingContainer">
    <p class="postAttrDate">
      10.10.16
    </p>
    <h6 class="itemTitle">Candiria 5 Borough World Tour</h6>
    <p class="itemText">
      We have the honor this week of playing with the one and only Candiria (and holy shit, Dalek too) at Gold Sounds in Brooklyn this Wednesday, October 12th. Candiria is one of the bands that taught all of us - especially in a band like ours - that genre doesn't mean a fucking thing. Go where the music takes you.
      <br>
      <br>
      <img class="itemPhoto" src="assets/dalek.jpg" />
  </div>
</div>
<div class="mainContentItemsContainer newsy eight columns all">
  <div class="mainContentItemHeadingContainer">
    <p class="postAttrDate">
      08.30.16
    </p>
    <h6 class="itemTitle">September Tour 2016</h6>
    <p class="itemText">
      We're hitting the road for a few dates in the northeast this September. Some highlights include Kingston with Dead Empires on the 16th, Brooklyn with the Caustic Casanova homies on the 28th...oh, and Black Bear Bar on October 12th with the mighty Candiria and Dalek. Yeah, we're stoked too.
      <br>
      <br>
      <img class="itemPhoto" src="assets/september_2016_tour.jpg" />
  </div>
</div>
<div class="mainContentItemsContainer newsy eight columns all">
  <div class="mainContentItemHeadingContainer">
    <p class="postAttrDate">
      08.29.16
    </p>
    <h6 class="itemTitle">Pit Full of Shit Covers Fera Live</h6>
    <p class="itemText">
      Thank you very much to Frank Huang, the man behind the treasure chest of live heavy music videos for coming through to the Sunnyvale release show and filming our entire set - which was Fera in order in its entirety. Check it out!
      <br>
      <br>
      <iframe width="560" height="315" src="https://www.youtube.com/embed/6ZIy0d1CNBo" frameborder="0" allowfullscreen></iframe>
  </div>
</div>
<div class="mainContentItemsContainer newsy eight columns all">
  <div class="mainContentItemHeadingContainer">
    <p class="postAttrDate">
      08.26.16
    </p>
    <h6 class="itemTitle">Album Release!</h6>
    <p class="itemText">
      Today marks the day the album is officially out! The show last night was nothing short of amazing. Thank you very much to Geometers, Spotlights, and Bangladeafy for ripping with us. All of those bands deserve your time and attention, so go check them out!
      <br>
      <br> If you haven't picked out a bundle or choice of merch from Aqualamb.org, what are you waiting for? Go check them out, or bump the record wherever you're at...because it's on Spotify, too. Enjoy, share your favorite riffs and songs with us, and spread word of Fera far and wide.
  </div>
</div>
<div class="mainContentItemsContainer newsy eight columns all">
  <div class="mainContentItemHeadingContainer">
    <p class="postAttrDate">
      08.23.16
    </p>
    <h6 class="itemTitle">"Nature vs. Nurture" Music Video"</h6>
    <p class="itemText">
      This is the second video released for Fera, a song called "Nature vs. Nurture." The video was compiled and edited by Arnau, and premiered by Metal Injection. Sit back, relax, and enjoy this 2:15 clip of the world slowly circling the drain...
      <br>
      <br>
      <iframe width="560" height="315" src="https://www.youtube.com/embed/3ak8yTEG06U" frameborder="0" allowfullscreen></iframe>
  </div>
</div>
<div class="mainContentItemsContainer newsy eight columns all">
  <div class="mainContentItemHeadingContainer">
    <p class="postAttrDate">
      08.11.16
    </p>
    <h6 class="itemTitle">"So Long, Capricornian Crone" Music Video"</h6>
    <p class="itemText">
      Here is the video for the first single off of Fera, entitled "So Long Capricornian Crone". Shot, edited, and directed by Thane Lund, with assistance from our own Arnau Bosc.
      <br>
      <br>
      <iframe width="560" height="315" src="https://www.youtube.com/embed/zJBF3Zpia8A" frameborder="0" allowfullscreen></iframe>
  </div>
</div>
<div class="mainContentItemsContainer newsy eight columns all">
  <div class="mainContentItemHeadingContainer">
    <p class="postAttrDate">
      07.25.16
    </p>
    <h6 class="itemTitle">Fera - Pre-Order Info and Record Release Shows</h6>
    <p class="itemText">
      <img class="itemPhoto" src="assets/fera_cover.jpg" />
      <br>
      <br> All pre-order info including the 140 page art and lyric book, t-shirts, and CDs can be found on our <a href="https://husbandryny.bandcamp.com/merch" target="_blank">Bandcamp.</a>
      <br>
      <br> We'll be taking the weekend to play some shows to celebrate the record release, with more tour announcements coming soon!
      <br>
      <br>
      <img class="itemPhoto" src="assets/record-release-shows-2016-august.jpg" />
  </div>
</div>
<div class="mainContentItemsContainer newsy eight columns all">
  <div class="mainContentItemHeadingContainer">
    <p class="postAttrDate">
      06.01.16
    </p>
    <h6 class="itemTitle">Fera - 08.23.16</h6>
    <p class="itemText">
      Fera (genitive ferae); (fem.) wild animal, beast
      <br>
      <br> This is something we’ve been working hard at for a long time now, and we’re excited to announce the release of our first full-length record entitled “Fera” – through Aqualamb Records, coming out on August 23rd.
      <br>
      <br>
      <iframe width="560" height="315" src="https://www.youtube.com/embed/uK1Z7F44FvM" frameborder="0" allowfullscreen></iframe>
  </div>
</div>
<div class="mainContentItemsContainer newsy eight columns all">
  <div class="mainContentItemHeadingContainer">
    <p class="postAttrDate">
      03.08.16
    </p>
    <h6 class="itemTitle">Tax Evasion Tour 2016</h6>
    <p class="itemText">
      We're heading out for a couple of days in April, starting off with a home show at Acheron and ending at the Meatlocker in Jersey with some Maryland fun in between. We'll see you out there. News on the record is coming soon, we promise.
      <br>
      <br>
      <img class="itemPhoto" src="assets/spring_tour_2016.jpg" />
  </div>
</div>
<div class="mainContentItemsContainer newsy eight columns all">
  <div class="mainContentItemHeadingContainer">
    <p class="postAttrDate">
      11.21.15
    </p>
    <h6 class="itemTitle">Last Shows of 2015</h6>
    <p class="itemText">
      We've had a hell of a year for 2015. Tons of shows and new friends. We birthed our first LP which will likely see the light of day in 2016. We've got two more shows for 2015, and at the two best venues in Brooklyn for heavy proggy weirdo music. First up is <a href="https://www.facebook.com/events/1661480027424185/" target="_blank">11.30</a> at Saint Vitus with St. Bastard and Prostitution. Then we conclude our year with this ripper of a lineup on <a href="https://www.facebook.com/events/1477717545871035/" target="_blank">12.05</a> at the Acheron with Moon Tooth, Caustic Casanova, and Lutkie.
  </div>
</div>
<div class="mainContentItemsContainer newsy eight columns all">
  <div class="mainContentItemHeadingContainer">
    <p class="postAttrDate">
      09.21.15
    </p>
    <h6 class="itemTitle">October Jaunt</h6>
    <p class="itemText">
      October brings out the flannel, pumpkin spice bullshit everything, cuffin' season, hot toddys, and three dope Husbandry shows. We're heading out on a three day jaunt on Columbus Day weekend with our new friends in Baltimore's Queen Wolf, starting with their record release show on <a href="https://www.facebook.com/events/1640944182814065/" target="_blank">10.9</a>, heading up to Silver Spring, MD for a house show on
      <a href="https://www.facebook.com/events/1476692699325508/" target="_blank">10.10</a>, and then ending at Piano's in the lower east side on <a href="https://www.facebook.com/events/1029216237110107/" target="_blank">10.11</a> with two of our local favorites: Drella and Disparager.
      <br>
      <br> We'll see you out there.
  </div>
</div>
<div class="mainContentItemsContainer newsy eight columns all">
  <div class="mainContentItemHeadingContainer">
    <p class="postAttrDate">
      08.18.15
    </p>
    <h6 class="itemTitle">Tour Recap</h6>
    <p class="itemText">
      I want to say "tour is over, we survived" - but I can't hear that line in my head without hearing it in Tom DeLonges voice, so forget I even said it. Thank you to everyone who came out, gave us a high five, gave us a slow clap because you weren't sure if the song was over yet, bought a t-shirt or copy of the EP, etc. We appreciate it a ton and had a great time. Here's a couple of pictures from our week out.
      <br>
      <br>
      <img class="itemPhoto" src="assets/tour_techs.jpg" /> These two creatures kept us company in Philly and York. Worst guitar techs. Had to let them go.
      <br>
      <br>
      <img class="itemPhoto" src="assets/recordstore.jpg" /> Shout out to Joe's Records in Silver Spring. A gigantic record store that had that good old classic rock musty smell. Excellent turnout and all the bands were very cool.
      <br>
      <br>
      <img class="itemPhoto" src="assets/york_group.jpg" /> Thank you to Carina's family who housed and fed us for two days in York, PA. You can actually see our guts a bit bigger in this picture due to all the barbeque we consumed. Tour life is hard.
      <br>
      <br>
      <img class="itemPhoto" src="assets/berklee.jpg" /> Berklee School of Music. 'Nuff said.
      <br>
      <br>
      <img class="itemPhoto" src="assets/backstage.jpg" /> Getting turnt backstage in Rhode Island. Wilin' out. Parties til 12am every night. Seriously, one of my favorite venues of the tour - Machines with Magnets. A beautiful space that is art gallery, recording studio and venue all in one. Also run by excellent people, thank you again for the hospitality and projections, Keith.
      <br>
      <br>
      <img class="itemPhoto" src="assets/Jordan_Andrew_Providence.JPG" /> Here you can see how glad Andrew is that Jordan got his license, and how glad Jordan is that no one is dead.
      <br>
      <br>
      <img class="itemPhoto" src="assets/pizza.JPG" /> Had to do a run to Frank Pepe's in New Haven before we came home to see what the hype was about. A solid pizza, but NYC is still king. Nice try, Connecticut.
  </div>
</div>
<div class="mainContentItemsContainer newsy eight columns all">
  <div class="mainContentItemHeadingContainer">
    <p class="postAttrDate">
      07.21.15
    </p>
    <h6 class="itemTitle">Summer Tour 2015</h6>
    <p class="itemText">
      What's a great way to cap off spending a week in a recording studio destroying your brain while recording your album? Spending eight days on the road playing those songs and destroying your body. We're really excited to play with a ton of really great bands starting on August 8th at Kung Fu Necktie.
      <br>
      <br> Check our <a href="https://www.facebook.com/events/695398733938025/">Facebook</a> for all show details.
    </p>
    <img class="itemPhoto" src="assets/Husbandry_Summer2015.jpg" />
  </div>
</div>
