<div class="all storey mainContentHeadingContainer eight columns">
  <h5 class="mainHeading">Store</h5>
</div>
<div class="storeSection storey all eight columns">
  <div class="storeItem">
    <a target="_blank" href="https://husbandryny.bandcamp.com/album/bad-weeds-never-die"><img src="assets/bwnd.jpg" class="newSize storeItemPic" /></a>
    <a target="_blank" href="https://husbandryny.bandcamp.com/album/bad-weeds-never-die"><h6 class="productDescription">Bad Weeds Never Die - 120 page book w/CD</h6></a>
    <a target="_blank" href="https://husbandryny.bandcamp.com/album/bad-weeds-never-die"><h6 class="productDescription">$15 USD</h6></a>
  </div>
  <div class="storeItem">
    <a target="_blank" href="https://husbandryny.bandcamp.com/album/fera"><img src="assets/bc4.jpg" class="newSize storeItemPic" /></a>
    <a target="_blank" href="https://husbandryny.bandcamp.com/album/fera"><h6 class="productDescription">Fera – 140 page book w/CD</h6></a>
    <a target="_blank" href="https://husbandryny.bandcamp.com/album/fera"><h6 class="productDescription">$15 USD</h6></a>
  </div>
  <div class="storeItem">
    <a target="_blank" href="https://husbandryny.bandcamp.com/album/fera"><img src="assets/bc3.jpg" class="newSize storeItemPic" /></a>
    <a target="_blank" href="https://husbandryny.bandcamp.com/album/fera"><h6 class="productDescription">Compact disc version of Fera</h6></a>
    <a target="_blank" href="https://husbandryny.bandcamp.com/album/fera"><h6 class="productDescription">$10 USD</h6></a>
  </div>
  <div class="storeItem">
    <a target="_blank" href="https://husbandryny.bandcamp.com/album/fera"><img src="assets/bc0.jpg" class="newSize storeItemPic" /></a>
    <a target="_blank" href="https://husbandryny.bandcamp.com/album/fera"><h6 class="productDescription">Fera - 140 Page Book</h6></a>
    <a target="_blank" href="https://husbandryny.bandcamp.com/album/fera"><h6 class="productDescription">$12 USD</h6></a>
  </div>
</div>
<div class="storeSection storey all eight columns">
  <div class="storeItem">
    <a target="_blank" href="http://husbandryny.bandcamp.com/merch/doubting-thomas-t-shirt"><img src="assets/DoubtingThomas_2.jpg" class="storeItemPic" /></a>
    <a target="_blank" href="http://husbandryny.bandcamp.com/merch/doubting-thomas-t-shirt"><h6 class="productDescription">Doubting Thomas T-Shirt</h6></a>
    <a target="_blank" href="http://husbandryny.bandcamp.com/merch/doubting-thomas-t-shirt"><h6 class="productDescription">$12 USD</h6></a>
  </div>
  <div class="storeItem">
    <a target="_blank" href="http://husbandryny.bandcamp.com/merch/stitch-reference-t-shirt"><img src="assets/WhiteShirt.jpg" class="storeItemPic" /></a>
    <a target="_blank" href="http://husbandryny.bandcamp.com/merch/stitch-reference-t-shirt"><h6 class="productDescription">Stitch Reference T-Shirt (White)</h6></a>
    <a target="_blank" href="http://husbandryny.bandcamp.com/merch/stitch-reference-t-shirt"><h6 class="productDescription">$12 USD</h6></a>
  </div>
  <div class="storeItem">
    <a target="_blank" href="https://husbandryny.bandcamp.com/merch/stitch-reference-t-shirt-2"><img src="assets/CharcoalShirt.jpg" class="storeItemPic" /></a>
    <a target="_blank" href="https://husbandryny.bandcamp.com/merch/stitch-reference-t-shirt-2"><h6 class="productDescription">Stitch Reference T-Shirt (Charcoal)</h6></a>
    <a target="_blank" href="https://husbandryny.bandcamp.com/merch/stitch-reference-t-shirt-2"><h6 class="productDescription">$12 USD</h6></a>
  </div>
  <div class="storeItem">
    <a target="_blank" href="http://husbandryny.bandcamp.com/merch/flag-of-hands-t-shirt"><img src="assets/flagofhands.jpg" class="storeItemPic" /></a>
    <a target="_blank" href="http://husbandryny.bandcamp.com/merch/flag-of-hands-t-shirt"><h6 class="productDescription">Flag of Hands T-Shirt </h6></a>
    <a target="_blank" href="http://husbandryny.bandcamp.com/merch/flag-of-hands-t-shirt"><h6 class="productDescription">$12 USD</h6></a>
  </div>
  <div class="storeItem">
    <a target="_blank" href="http://husbandryny.bandcamp.com/merch/fera-shadow-t-shirt"><img src="assets/shadowshirt.jpg" class="storeItemPic" /></a>
    <a target="_blank" href="http://husbandryny.bandcamp.com/merch/fera-shadow-t-shirt"><h6 class="productDescription">Fera Shadow T-Shirt </h6></a>
    <a target="_blank" href="http://husbandryny.bandcamp.com/merch/fera-shadow-t-shirt"><h6 class="productDescription">$12 USD</h6></a>
  </div>
  <div class="storeItem">
    <a target="_blank" href="http://husbandryny.bandcamp.com/merch/fera-shadow-black-tote-bag"><img src="assets/shadowtote.jpg" class="storeItemPic" /></a>
    <a target="_blank" href="http://husbandryny.bandcamp.com/merch/fera-shadow-black-tote-bag"><h6 class="productDescription">Fera Shadow Black Canvas Tote Bag </h6></a>
    <a target="_blank" href="http://husbandryny.bandcamp.com/merch/fera-shadow-black-tote-bag"><h6 class="productDescription">$10 USD</h6></a>
  </div>
</div>
